ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--dark-color-a);
	color: #fff;
	border: 0;
	font-size: 17px;
}

/* Chat Page */
.chat-container {
	max-width: 90vw;
	background: var(--light-color);
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	height: 75vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	height: 100%;
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages-container {
	height: 100%;
	background: #fff;
	padding: 30px;
	overflow-y: scroll;
}

.chat-messages-container .message {
	font-size: 15px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--dark-color-a);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages-container .message .metadata {
	font-weight: bold;
	color: var(--dark-color-b);
	margin-bottom: 7px;
}

.chat-messages-container .message .text {
	color: #fff;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 50px;
}

.join-main .form-control {
	margin-bottom: 15px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.dashboard-navigation {
	width: 90vw;
	margin: auto auto 5vh auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.logout-button-container {
	width: 90vw;
	margin: auto auto 1vh auto;
	display: flex;
	flex-direction: row;
	justify-content: right;
}

.dashboard-navigation button {
	cursor: pointer;
	display: block;
	color: var(--dark-color-a);
	background: var(--light-color);
	border: 1px solid var(--dark-color-a);
	text-align: center;
	width: 50vw;
	padding-top: 5px;
	padding-bottom: 5px;
}

.dashboard-table {
	width: 90vw;
	height: 80vh;
	margin: auto;
}

.MuiDataGrid-root{
	border: 1px solid var(--dark-color-a) !important;	
	color: var(--dark-color-a) !important;
}

.MuiDataGrid-columnsContainer, .MuiDataGrid-cell {
	border: 1px solid var(--dark-color-a) !important;
}

.MuiDataGrid-columnsContainer {
	background: var(--dark-color-a) !important;
	color: #fff;
}

.MuiTablePagination-root {
	color: var(--dark-color-a) !important;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
